public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@prettier/plugin-*
public-hoist-pattern[]=*prettier-plugin-*
public-hoist-pattern[]=@iconify-json/*
public-hoist-pattern[]=@proj-airi/lobe-icons
public-hoist-pattern[]=@proj-airi/iconify-meteocons
